<!DOCTYPE html>
<html lang="en">

  <head>{% load static %}

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />

    <!-- Reload  -->
    <meta HTTP-EQUIV="REFRESH" content="5; url=http://127.0.0.1:8000/VotingDay/">

    <title>Voting Day - Thank You!</title>

    <!-- CSS  -->

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'VotingDay/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="{% static 'VotingDay/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link rel="icon" type = 'image/png' href="{% static 'VotingDay/img/favicon.png' %}" />  </head>

  <body bgcolor="#eeebeb">
    <div class = "container">
      <div class = 'row'>
        <p align = 'center'>
          Thank you for registering your vote!
        </p>
      </div>
    </div>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static 'VotingDay/js/materialize.js' %}"></script>
    <script src="{% static 'VotingDay/js/init.js' %}"></script>

  </body>

</html>
